.container{
    width: 1300px;
    margin: auto;
}

   
 .Box-1 h1{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin: 20px auto;
    padding: 5px;

}
.Box-2 h1{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin: 20px auto;
    padding: 5px;

}
.Box-3 h2{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin: 20px auto;
    padding: 5px;

}
.Box-4 h1{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin: 20px auto;
    padding: 5px;

}
.Box-5 h1{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    margin: 20px auto;
    padding: 5px;

}
.Box-1 h1{
    box-shadow: -5px -5px #666666;

}
.Box-2 h1{
    box-shadow: 5px 5px 5px #e29e9e;
}
.Box-3 h2{
    box-shadow: 5px 5px 5px 10px #e29e;
}.Box-4 h1{
    box-shadow: 0 0 10px yellow;
}
.Box-5 h1{
    box-shadow: inset 0 0 10px blueviolet ;
}
.image{
    display: flex;
    height: 100vh;
    justify-content: center;
     align-items: center;
    

}
.image img{
    cursor:-webkit-grabbing;
    width: 600px;
    height:400px;
    filter:blur(1px)
    
}
.transition{
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background: green;
    transition: 1s;

}
.transition:hover{
    width: 300px;
}
.transition-duration{
    width: 100px;
  height: 100px;
  background: red;
  margin: 100px auto;
  transition-duration: 5s;

}
.transition-duration:hover{
    width: 300px;

}
.aaa li{
    color: tomato;
}
ul em {
    color: brown;
}
p em{
    color: blueviolet;
} 
em {
    color: chocolate;
}
/* css cursor property  */

.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

/* string */



