.container{
    width: 1300px;
    margin: auto;
}
/* .header-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    } */
/* p{
    background-color: blueviolet;
color: gold;
margin: 20px 40px 60px 80px;
text-align: center;
font-size: larger;
font-style: italic;
width: 500px;    
}  */